<div class="row">
  <div class="col-md-7">
    <h3 class="lead">Contact Us</h3>
    <p>
      500 Terry Francois Street, 6th Floor
      San Francisco, CA  94158
      info@mysite.com
      Tel: 1-800-000-0000
      Fax: 123-456-7890
    </p>
    <hr>
    <div class="row">
      <div class="col-md-7">
        <%= form_for(@contact, :html => { class:"form-horizontal", role:"form"}) do |f| %>
          <% if @contact.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this lecture from being saved:</h2>

              <ul>
              <% @contact.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
      
          <div class="form-group">
            <%= f.label :name, "Name",  for: "inputText3", class:" col-xs-offset-0 col-xs-2 col-sm-2 col-md-2 control-label weight" %>
            <div class=" col-xs-5 col-sm-5 col-md-5">
              <%= f.text_field :name, class: "form-control weight", id:"inputText3" %>
            </div>
          </div>
  
  
          <div class="form-group">
            <%= f.label :email, "Email",  for: "inputText3", class:" col-xs-offset-0 col-xs-2 col-sm-2 col-md-2 control-label weight" %>
            <div class=" col-xs-5 col-sm-5 col-md-5">
              <%= f.text_field :email, class: "form-control weight", id:"inputText3" %>
            </div>
          </div>
          
      
          <div class="form-group">
            <%= f.label :message, "Message",  for: "inputText3", class:" col-xs-offset-0 col-xs-2 col-sm-2 col-md-2 control-label weight" %>
            <div class=" col-xs-5 col-sm-5 col-md-5">
              <%= f.text_field :message, class: "form-control weight", id:"inputText3" %>
            </div>
          </div>
  
          <div class="form-group">
            <div class="col-xs-offset-2 col-sm-offset-2 col-sm-2 col-md-2">
                <%= action_name =="new"? (f.submit "Send Message",  class:"btn btn-success" ):(f.submit "Send Message",  class:"btn btn-success")%>
            </div>
          </div>
      
      
        <% end %>  
      </div>
  
    </div>



    
  </div>
    <div class="col-md-5">
      <img class="featutette-image" data-src="holder.js/500x500/auto" alt="500x500" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTY_8839kiu6llydP6W9m5qNQu8jSn3OibtrbXKeIEObp1iAC5T7A" data-holder-rendered="true">
    </div>
</div>